backports.functools-lru-cache==1.5
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
Dialogs==0.14
Django==1.11.23
fancycompleter==0.8
idna==2.8
image==1.5.27
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.4
pdbpp==0.10.0
Pillow==6.1.0
Pygments==2.4.2
pyparsing==2.4.2
pyrepl==0.9.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
subprocess32==3.5.4
urllib3==1.25.3
wmctrl==0.3
